In [7]:
import pandas as pd
import numpy as np
data=pd.read_csv(r'C:\Users\HP\Desktop\dataset\test.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [10]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [12]:
data.shape

(4209, 6)

In [9]:
for col in data.columns:
    print(col,':' ,len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels

In [13]:
pd.get_dummies(data,drop_first=True).shape

(4209, 121)

In [15]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
k       25
t       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

In [16]:
top_10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(20).index]

In [17]:
top_10

['as',
 'ae',
 'ai',
 'm',
 'ak',
 'r',
 'n',
 's',
 'f',
 'e',
 'ay',
 'aq',
 'a',
 'b',
 'k',
 't',
 'ag',
 'ac',
 'ao',
 'i']

In [20]:
for label in top_10:
    data[label]=np.where(data['X2']==label,1,0)
    
data[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  ...  ay  aq  a  b  k  t  ag  ac  ao  i
0    n   0   0   0  0   0  0  1  0  0  ...   0   0  0  0  0  0   0   0   0  0
1   ai   0   0   1  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
2   as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
3    n   0   0   0  0   0  0  1  0  0  ...   0   0  0  0  0  0   0   0   0  0
4   as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
5   ai   0   0   1  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
6   ae   0   1   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
7   ae   0   1   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
8    s   0   0   0  0   0  0  0  1  0  ...   0   0  0  0  0  0   0   0   0  0
9   as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
10   s   0   0   0  0   0  0  0  1  0  ...   0   0  0  0  0  0   0   0   0  0
11   b   0   0   0  0   0  0  0  0  0  ...   0   0  0  1  0  0   0   0   0  0
12   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
13  ae   0   1   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
14  ak   0   0   0  0   1  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
15   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
16   s   0   0   0  0   0  0  0  1  0  ...   0   0  0  0  0  0   0   0   0  0
17   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
18  ai   0   0   1  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
19  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
20   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
21   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
22  ai   0   0   1  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
23   e   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
24  ai   0   0   1  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
25   s   0   0   0  0   0  0  0  1  0  ...   0   0  0  0  0  0   0   0   0  0
26   m   0   0   0  1   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
27  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
28   m   0   0   0  1   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
29  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
30  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
31  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
32  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
33   a   0   0   0  0   0  0  0  0  0  ...   0   0  1  0  0  0   0   0   0  0
34  aq   0   0   0  0   0  0  0  0  0  ...   0   1  0  0  0  0   0   0   0  0
35  as   1   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
36  ae   0   1   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
37  ak   0   0   0  0   1  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0
38  ag   0   0   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   1   0   0  0
39  ae   0   1   0  0   0  0  0  0  0  ...   0   0  0  0  0  0   0   0   0  0

[40 rows x 21 columns]

In [23]:
def one_hot_top(df,variable,top_x_labels):
    
    
    for label in top_x_labels:
        
        df[variable+'_'+label]=np.where(data[variable]==label,1,0)

data=pd.read_csv(r'C:\Users\HP\Desktop\dataset\test.csv',usecols=['X1','X2','X3','X4','X5','X6'])


one_hot_top(data,'X2',top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X2_ay,X2_aq,X2_a,X2_b,X2_k,X2_t,X2_ag,X2_ac,X2_ao,X2_i
0,v,n,f,d,t,a,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,v,as,f,d,a,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,l,n,f,d,z,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,s,as,c,d,y,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
X1_top_10=[x for x in data.X1.value_counts().sort_values(ascending=False).head(20).index]

X1_top_10

one_hot_top(data,'X1',X1_top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X1_w,X1_u,X1_z,X1_e,X1_h,X1_m,X1_j,X1_y,X1_t,X1_n
0,v,n,f,d,t,a,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,v,as,f,d,a,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,l,n,f,d,z,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,s,as,c,d,y,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
X1_top_10

['aa',
 's',
 'l',
 'b',
 'v',
 'r',
 'i',
 'a',
 'c',
 'o',
 'w',
 'u',
 'z',
 'e',
 'h',
 'm',
 'j',
 'y',
 't',
 'n']

In [27]:
X3_top_10=[x for x in data.X3.value_counts().sort_values(ascending=False).head(20).index]

X3_top_10

one_hot_top(data,'X1',X3_top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X1_e,X1_h,X1_m,X1_j,X1_y,X1_t,X1_n,X1_f,X1_d,X1_g
0,v,n,f,d,t,a,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,v,as,f,d,a,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,l,n,f,d,z,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,s,as,c,d,y,i,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
X4_top_10=[x for x in data.X4.value_counts().sort_values(ascending=False).head(20).index]

X4_top_10

one_hot_top(data,'X4',X4_top_10)

data.head()


X5_top_10=[x for x in data.X5.value_counts().sort_values(ascending=False).head(20).index]

X5_top_10

one_hot_top(data,'X5',X5_top_10)

data.head()




X6_top_10=[x for x in data.X6.value_counts().sort_values(ascending=False).head(20).index]

X6_top_10

one_hot_top(data,'X6',X6_top_10)

data.head()

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,...,X6_d,X6_i,X6_l,X6_h,X6_a,X6_k,X6_c,X6_f,X6_b,X6_e
0,v,n,f,d,t,a,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,v,as,f,d,a,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,l,n,f,d,z,l,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,s,as,c,d,y,i,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [29]:
data.drop(['X1','X2','X3','X4','X5','X6'],axis='columns',inplace=True)

In [30]:
data.head()

,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e,...,X6_d,X6_i,X6_l,X6_h,X6_a,X6_k,X6_c,X6_f,X6_b,X6_e
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [32]:
data.shape

(4209, 79)

In [33]:
data.to_csv(r'C:\Users\HP\Desktop\dataset\joy.csv',index=False)