In [13]:
import pandas as pd
import datetime

In [14]:
df_base=datetime.datetime.today()
df_data_list=[df_base -datetime.timedelta(days=x) for x in range (0,20)]

In [15]:
df=pd.DataFrame(df_data_list)

In [16]:
df.columns=['day']

In [17]:
df

                          day
0  2021-03-22 22:46:37.521828
1  2021-03-21 22:46:37.521828
2  2021-03-20 22:46:37.521828
3  2021-03-19 22:46:37.521828
4  2021-03-18 22:46:37.521828
5  2021-03-17 22:46:37.521828
6  2021-03-16 22:46:37.521828
7  2021-03-15 22:46:37.521828
8  2021-03-14 22:46:37.521828
9  2021-03-13 22:46:37.521828
10 2021-03-12 22:46:37.521828
11 2021-03-11 22:46:37.521828
12 2021-03-10 22:46:37.521828
13 2021-03-09 22:46:37.521828
14 2021-03-08 22:46:37.521828
15 2021-03-07 22:46:37.521828
16 2021-03-06 22:46:37.521828
17 2021-03-05 22:46:37.521828
18 2021-03-04 22:46:37.521828
19 2021-03-03 22:46:37.521828

In [19]:
df['day_of_week'] = df['day'].dt.weekday_name
df.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [ ]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

In [20]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(20)

AttributeError: 'DataFrame' object has no attribute 'day_of_week'

In [21]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2021-03-22 22:50:44.523744
1  2021-03-21 22:50:44.523744
2  2021-03-20 22:50:44.523744
3  2021-03-19 22:50:44.523744
4  2021-03-18 22:50:44.523744
5  2021-03-17 22:50:44.523744
6  2021-03-16 22:50:44.523744
7  2021-03-15 22:50:44.523744
8  2021-03-14 22:50:44.523744
9  2021-03-13 22:50:44.523744
10 2021-03-12 22:50:44.523744
11 2021-03-11 22:50:44.523744
12 2021-03-10 22:50:44.523744
13 2021-03-09 22:50:44.523744
14 2021-03-08 22:50:44.523744
15 2021-03-07 22:50:44.523744
16 2021-03-06 22:50:44.523744
17 2021-03-05 22:50:44.523744
18 2021-03-04 22:50:44.523744
19 2021-03-03 22:50:44.523744

In [22]:
df['day_of_week'] = df['day'].dt.weekday_name
df.head()

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'